{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% include 'shared/navbar.html.twig'%}

<div class="container">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

    <h4 class="h3 mb-3 mt-3 font-weight-normal">Register</h4>

            {{ form_errors(registrationForm) }}


            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {'attr':{'class':'form-control'}}) }}


            {# This field has not been styled, re-work the form from symfony 6? #}
            {{ form_row(registrationForm.plainPassword,  {
                label: 'Password'
            }) }}




            {{ form_row(registrationForm.firstName, {
                label: 'First Name' , 'attr':{'class':'form-control'}
            }) }}

            {{ form_row(registrationForm.lastName, {
                label: 'Last Name' , 'attr':{'class':'form-control'}
            }) }}

            {{ form_row(registrationForm.mobilePhone, {
                label: 'Mobile phone', 'attr':{'class':'form-control'}
            }) }}


            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
            </div>
            {{ form_end(registrationForm) }}
</div>

{% endblock %}
